# 基于业务逻辑的数据清理

## 1.导入包

In [1]:
import pandas as pd 
import numpy as np
import time
from geopy.distance import geodesic
from geopy.geocoders import Nominatim

# 2.读取数据

In [2]:
df = pd.read_csv('../data/preprocessed_1.csv',compression='gzip')

In [3]:
df['ts'] = pd.to_datetime(df['ts'])
df.sort_values(by = ['number','ts'],inplace=True)
df.reset_index(inplace=True)

In [4]:
df.head()

,index,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,mins,hour,day,month,year,dayofweek
0,2374378,2020-10-10 07:34:16,-1.0,12.975773,77.57107,12.878468,77.44533,34,7,10,10,2020,5
1,2405894,2020-10-11 08:23:42,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6
2,2405895,2020-10-11 08:23:50,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6
3,2405896,2020-10-11 08:23:51,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6
4,2405897,2020-10-11 08:23:54,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6

In [5]:
df['booking_stamp'] = df.ts.values.astype(np.int64)//10**9
df.head(50)

,index,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,mins,hour,day,month,year,dayofweek,booking_stamp
0,2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,34,7,10,10,2020,5,1602315256
1,2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,23,8,11,10,2020,6,1602404622
2,2405895,2020-10-11 08:23:50,-1.0,12.930813,77.609530,12.960320,77.587210,23,8,11,10,2020,6,1602404630
3,2405896,2020-10-11 08:23:51,-1.0,12.930813,77.609530,12.960320,77.587210,23,8,11,10,2020,6,1602404631
4,2405897,2020-10-11 08:23:54,-1.0,12.930813,77.609530,12.960320,77.587210,23,8,11,10,2020,6,1602404634
5,2405898,2020-10-11 08:23:56,-1.0,12.930813,77.609530,12.960320,77.587210,23,8,11,10,2020,6,1602404636
6,2406076,2020-10-11 11:57:17,-1.0,12.960213,77.587460,12.930824,77.609610,57,11,11,10,2020,6,1602417437
7,2406077,2020-10-11 11:57:31,-1.0,12.960213,77.587460,12.930824,77.609610,57,11,11,10,2020,6,1602417451
8,2500477,2020-10-16 17:51:07,-1.0,12.924353,77.549410,12.932216,77.581825,51,17,16,10,2020,4,1602870667
9,2500478,2020-10-16 17:51:25,-1.0,12.924353,77.549410,12.932216,77.581825,51,17,16,10,2020,4,1602870685
10,2694503,2020-10-30 09:00:44,-1.0,12.945731,77.622500,12.973030,77.616840,0,9,30,10,2020,4,1604048444
11,3358326,2020-11-27 20:16:20,-1.0,13.031985,77.571280,12.960211,77.646910,16,20,27,11,2020,4,1606508180
12,3358336,2020-11-27 20:35:09,-1.0,13.031940,77.571260,12.960211,77.646910,35,20,27,11,2020,4,1606509309
13,3358337,2020-11-27 20:35:48,-1.0,13.032073,77.571290,12.960211,77.646910,35,20,27,11,2020,4,1606509348
14,3358339,2020-11-27 20:35:51,-1.0,13.032073,77.571290,12.960211,77.646910,35,20,27,11,2020,4,1606509351
15,3565362,2020-12-05 22:09:55,-1.0,12.938531,77.578940,12.952660,77.568825,9,22,5,12,2020,5,1607206195
16,3580957,2020-12-06 10:25:54,-1.0,12.933546,77.692894,12.977833,77.646830,25,10,6,12,2020,6,1607250354
17,3580973,2020-12-06 10:34:20,-1.0,12.933337,77.691180,12.977833,77.646830,34,10,6,12,2020,6,1607250860
18,3592959,2020-12-06 22:18:23,-1.0,12.938314,77.578830,12.952660,77.568825,18,22,6,12,2020,6,1607293103
19,3592961,2020-12-06 22:19:39,-1.0,12.938314,77.578830,12.952660,77.568825,19,22,6,12,2020,6,1607293179
20,3592963,2020-12-06 22:23:17,-1.0,12.938503,77.578860,12.952660,77.568825,23,22,6,12,2020,6,1607293397
21,3592964,2020-12-06 22:23:41,-1.0,12.938503,77.578860,12.952660,77.568825,23,22,6,12,2020,6,1607293421
22,3641277,2020-12-08 09:01:57,-1.0,12.952168,77.569050,12.909234,77.567040,1,9,8,12,2020,1,1607418117
23,3795100,2020-12-17 17:40:20,-1.0,12.979331,77.577910,12.944552,77.596510,40,17,17,12,2020,3,1608226820
24,3795170,2020-12-17 18:45:11,-1.0,12.944604,77.596620,12.979256,77.578384,45,18,17,12,2020,3,1608230711
25,3795175,2020-12-17 18:52:49,-1.0,12.944983,77.596800,12.979256,77.578384,52,18,17,12,2020,3,1608231169
26,3795178,2020-12-17 18:56:06,-1.0,12.944510,77.597130,12.979256,77.578384,56,18,17,12,2020,3,1608231366
27,3807424,2020-12-19 21:26:16,-1.0,12.919730,77.603030,12.950794,77.606670,26,21,19,12,2020,5,1608413176
28,3849540,2020-12-21 16:59:55,-1.0,12.940567,77.587395,12.981304,77.601510,59,16,21,12,2020,0,1608569995
29,3951066,2020-12-26 16:28:54,-1.0,12.981304,77.601510,12.999338,77.620050,28,16,26,12,2020,5,1609000134
30,3951069,2020-12-26 16:30:07,-1.0,12.981427,77.601420,12.999338,77.620050,30,16,26,12,2020,5,1609000207
31,3951070,2020-12-26 16:30:12,-1.0,12.981427,77.601420,12.999338,77.620050,30,16,26,12,2020,5,1609000212
32,4188621,2021-01-02 07:37:39,-1.0,12.899870,77.575590,12.953981,77.592255,37,7,2,1,2021,5,1609573059
33,4196749,2021-01-02 20:25:24,-1.0,12.971963,77.593960,12.913632,77.585600,25,20,2,1,2021,5,1609619124
34,4196903,2021-01-02 23:33:50,-1.0,12.913759,77.585520,12.952300,77.567215,33,23,2,1,2021,5,1609630430
35,4212326,2021-01-03 17:13:31,-1.0,12.899760,77.575590,12.923305,77.553345,13,17,3,1,2021,6,1609694011
36,4253585,2021-01-04 16:36:42,-1.0,12.982410,77.624620,12.933859,77.607350,36,16,4,1,2021,0,1609778202
37,4253586,2021-01-04 16:36:59,-1.0,12.982410,77.624620,12.933859,77.607350,36,16,4,1,2021,0,1609778219
38,4253587,2021-01-04 16:37:06,-1.0,12.982410,77.624620,12.933859,77.607350,37,16,4,1,2021,0,1609778226
39,4229254,2021-01-04 17:31:23,-1.0,12.965632,77.602880,12.950794,77.606670,31,17,4,1,2021,0,1609781483
40,4229285,2021-01-04 17:51:09,-1.0,12.965618,77.602790,12.981304,77.601510,51,17,4,1,2021,0,1609782669
41,4229551,2021-01-04 20:02:19,-1.0,12.981511,77.601390,12.940261,77.587730,2,20,4,1,2021,0,1609790539
42,4229554,2021-01-04 20:04:06,-1.0,12.981453,77.601360,12.940261,77.587730,4,20,4,1,2021,0,1609790646
43,4229556,2021-01-04 20:04:12,-1.0,12.981453,77.601360,12.940261,77.587730,4,20,4,1,2021,0,1609790652
44,4229557,2021-01-04 20:04:17,-1.0,12.981453,77.601360,12.940261,77.587730,4,20,4,1,2021,0,1609790657
45,4229559,2021-01-04 20:04:56,-1.0,12.981453,77.601360,12.940261,77.587730,4,20,4,1,2021,0,1609790696
46,4289433,2021-01-05 08:48:17,-1.0,12.933873,77.607346,12.994055,77.661130,48,8,5,1,2021,1,1609836497
47,4349159,2021-01-07 15:44:25,-1.0,12.933850,77.607376,12.852608,77.656950,44,15,7,1,2021,3,1610034265
48,4358506,2021-01-08 13:43:05,-1.0,12.940665,77.587280,12.966620,77.608660,43,13,8,1,2021,4,1610113385
49,4380739,2021-01-09 10:55:48,-1.0,12.945139,77.575130,12.967576,77.579200,55,10,9,1,2021,5,1610189748

## 处理定义1：如果用户一个小时之内，在相同的经纬度，也就是同一地点，那么我们只保留同一地点同一用户的的一次叫车请求。

In [6]:
df['shift_booking_ts'] = df.groupby('number')['booking_stamp'].shift(1)
df['shift_booking_ts'].fillna(0,inplace=True)

In [7]:
df['shift_booking_ts'].astype('int64')

0                   0
1          1602315256
2          1602404622
3          1602404630
4          1602404631
              ...
8315377    1613068718
8315378    1613158631
8315379    1613767405
8315380    1613842485
8315381    1614414383
Name: shift_booking_ts, Length: 8315382, dtype: int64

In [8]:
df.head()

,index,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,mins,hour,day,month,year,dayofweek,booking_stamp,shift_booking_ts
0,2374378,2020-10-10 07:34:16,-1.0,12.975773,77.57107,12.878468,77.44533,34,7,10,10,2020,5,1602315256,0.000000e+00
1,2405894,2020-10-11 08:23:42,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6,1602404622,1.602315e+09
2,2405895,2020-10-11 08:23:50,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6,1602404630,1.602405e+09
3,2405896,2020-10-11 08:23:51,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6,1602404631,1.602405e+09
4,2405897,2020-10-11 08:23:54,-1.0,12.930813,77.60953,12.960320,77.58721,23,8,11,10,2020,6,1602404634,1.602405e+09

In [9]:
df['booking_time_diff_hr']  = round((df['booking_stamp'] - df['shift_booking_ts'])//3600)
df['booking_time_diff_min']  = round((df['booking_stamp'] - df['shift_booking_ts'])//60)

In [10]:
df['booking_time_diff_hr'].value_counts().to_dict()

{0.0: 4849856,
 1.0: 164914,
 23.0: 152962,
 24.0: 132454,
 2.0: 118199,
 9.0: 104854,
 3.0: 90789,
 10.0: 86794,
 8.0: 84454,
 14.0: 83715,
 13.0: 80005,
 4.0: 71379,
 11.0: 69332,
 12.0: 69267,
 7.0: 64610,
 15.0: 61892,
 5.0: 58059,
 22.0: 56709,
 6.0: 55287,
 16.0: 45075,
 21.0: 42289,
 47.0: 41525,
 25.0: 38067,
 48.0: 36781,
 20.0: 36559,
 17.0: 36124,
 19.0: 33701,
 18.0: 32710,
 71.0: 27538,
 72.0: 24658,
 26.0: 23932,
 46.0: 20902,
 27.0: 17593,
 45.0: 17142,
 49.0: 16426,
 38.0: 16319,
 95.0: 15844,
 37.0: 15186,
 39.0: 15048,
 44.0: 14897,
 96.0: 14258,
 43.0: 14004,
 28.0: 13903,
 40.0: 13586,
 70.0: 13131,
 36.0: 13019,
 42.0: 12926,
 41.0: 12516,
 50.0: 11945,
 35.0: 11789,
 29.0: 11770,
 34.0: 11479,
 33.0: 11356,
 119.0: 10863,
 62.0: 10769,
 73.0: 10731,
 32.0: 10583,
 30.0: 10279,
 69.0: 10150,
 31.0: 9997,
 120.0: 9641,
 63.0: 9561,
 61.0: 9401,
 51.0: 9313,
 68.0: 8957,
 94.0: 8381,
 143.0: 8335,
 167.0: 8252,
 64.0: 8089,
 60.0: 7865,
 67.0: 7802,
 52.0: 7755,
 144.0: 7645,
 74.0: 7590,
 168.0: 7571,
 66.0: 7370,
 65.0: 7293,
 97.0: 7220,
 93.0: 6805,
 59.0: 6594,
 53.0: 6488,
 58.0: 6294,
 118.0: 6171,
 75.0: 6029,
 57.0: 5957,
 54.0: 5853,
 92.0: 5742,
 56.0: 5646,
 55.0: 5634,
 121.0: 5414,
 86.0: 5362,
 98.0: 5296,
 91.0: 5155,
 87.0: 5069,
 117.0: 4907,
 76.0: 4866,
 142.0: 4832,
 85.0: 4804,
 90.0: 4780,
 88.0: 4715,
 89.0: 4476,
 191.0: 4409,
 166.0: 4388,
 145.0: 4261,
 84.0: 4226,
 116.0: 4221,
 99.0: 4192,
 77.0: 4146,
 192.0: 4086,
 122.0: 4069,
 141.0: 3969,
 83.0: 3952,
 82.0: 3933,
 81.0: 3871,
 115.0: 3833,
 78.0: 3714,
 79.0: 3670,
 169.0: 3616,
 80.0: 3586,
 110.0: 3560,
 114.0: 3477,
 140.0: 3441,
 100.0: 3430,
 111.0: 3419,
 165.0: 3405,
 123.0: 3337,
 112.0: 3275,
 109.0: 3261,
 113.0: 3244,
 215.0: 3234,
 146.0: 3228,
 101.0: 3056,
 139.0: 2994,
 164.0: 2967,
 216.0: 2943,
 190.0: 2924,
 108.0: 2905,
 239.0: 2791,
 170.0: 2749,
 124.0: 2746,
 107.0: 2741,
 240.0: 2741,
 102.0: 2738,
 105.0: 2718,
 106.0: 2716,
 138.0: 2667,
 104.0: 2638,
 134.0: 2610,
 147.0: 2593,
 103.0: 2568,
 163.0: 2539,
 137.0: 2529,
 135.0: 2519,
 263.0: 2503,
 136.0: 2498,
 193.0: 2498,
 125.0: 2351,
 335.0: 2346,
 264.0: 2344,
 189.0: 2340,
 133.0: 2325,
 336.0: 2294,
 148.0: 2211,
 162.0: 2197,
 214.0: 2195,
 287.0: 2178,
 161.0: 2175,
 132.0: 2157,
 171.0: 2156,
 126.0: 2118,
 159.0: 2072,
 188.0: 2034,
 217.0: 2026,
 128.0: 2024,
 158.0: 2023,
 288.0: 2022,
 130.0: 2016,
 131.0: 2013,
 194.0: 2000,
 129.0: 1983,
 311.0: 1976,
 160.0: 1963,
 238.0: 1959,
 312.0: 1958,
 149.0: 1948,
 127.0: 1929,
 213.0: 1911,
 157.0: 1863,
 187.0: 1785,
 172.0: 1780,
 150.0: 1746,
 212.0: 1730,
 241.0: 1706,
 262.0: 1680,
 237.0: 1652,
 156.0: 1645,
 218.0: 1617,
 195.0: 1600,
 155.0: 1595,
 153.0: 1594,
 265.0: 1591,
 186.0: 1588,
 152.0: 1554,
 286.0: 1520,
 185.0: 1520,
 151.0: 1518,
 154.0: 1517,
 184.0: 1493,
 173.0: 1466,
 310.0: 1462,
 211.0: 1461,
 236.0: 1435,
 183.0: 1423,
 242.0: 1419,
 219.0: 1417,
 360.0: 1414,
 289.0: 1414,
 334.0: 1407,
 359.0: 1398,
 261.0: 1389,
 196.0: 1387,
 181.0: 1380,
 182.0: 1366,
 235.0: 1352,
 174.0: 1347,
 210.0: 1323,
 337.0: 1287,
 285.0: 1285,
 176.0: 1269,
 313.0: 1258,
 175.0: 1241,
 333.0: 1228,
 177.0: 1227,
 180.0: 1227,
 266.0: 1222,
 197.0: 1222,
 220.0: 1219,
 260.0: 1215,
 243.0: 1199,
 178.0: 1194,
 207.0: 1181,
 208.0: 1177,
 407.0: 1170,
 209.0: 1161,
 383.0: 1153,
 290.0: 1149,
 179.0: 1146,
 206.0: 1144,
 309.0: 1130,
 384.0: 1103,
 284.0: 1102,
 259.0: 1101,
 503.0: 1076,
 234.0: 1069,
 232.0: 1064,
 408.0: 1052,
 198.0: 1037,
 205.0: 1035,
 358.0: 1031,
 231.0: 1029,
 308.0: 1025,
 504.0: 1014,
 338.0: 1010,
 431.0: 1004,
 233.0: 1001,
 230.0: 997,
 244.0: 995,
 258.0: 993,
 267.0: 990,
 314.0: 986,
 204.0: 973,
 202.0: 965,
 201.0: 963,
 203.0: 962,
 332.0: 962,
 221.0: 960,
 361.0: 959,
 432.0: 959,
 291.0: 954,
 283.0: 947,
 245.0: 944,
 257.0: 942,
 199.0: 936,
 222.0: 932,
 456.0: 928,
 268.0: 921,
 455.0: 911,
 200.0: 908,
 315.0: 900,
 229.0: 894,
 224.0: 881,
 307.0: 880,
 226.0: 874,
 228.0: 869,
 479.0: 868,
 480.0: 867,
 255.0: 863,
 357.0: 858,
 282.0: 857,
 225.0: 856,
 256.0: 854,
 254.0: 851,
 331.0: 847,
 227.0: 847,
 223.0: 840,
 281.0: 826,
 382.0: 825,
 292.0: 822,
 253.0: 809,
 362.0: 803,
 269.0: 793,
 385.0: 792,
 406.0: 788,
 430.0: 787,
 409.0: 787,
 306.0: 780,
 280.0: 779,
 339.0: 778,
 330.0: 758,
 381.0: 758,
 303.0: 753,
 278.0: 752,
 356.0: 746,
 247.0: 737,
 246.0: 737,
 405.0: 734,
 250.0: 733,
 270.0: 730,
 249.0: 730,
 293.0: 729,
 251.0: 728,
 279.0: 727,
 305.0: 720,
 316.0: 720,
 252.0: 719,
 502.0: 712,
 386.0: 708,
 527.0: 702,
 454.0: 694,
 380.0: 693,
 355.0: 687,
 528.0: 684,
 433.0: 678,
 328.0: 677,
 478.0: 671,
 277.0: 668,
 248.0: 664,
 304.0: 662,
 271.0: 660,
 363.0: 654,
 276.0: 652,
 273.0: 652,
 329.0: 652,
 317.0: 651,
 302.0: 649,
 457.0: 649,
 272.0: 648,
 505.0: 646,
 340.0: 643,
 551.0: 640,
 429.0: 639,
 379.0: 633,
 410.0: 629,
 274.0: 626,
 354.0: 625,
 294.0: 625,
 326.0: 624,
 327.0: 612,
 434.0: 608,
 671.0: 605,
 404.0: 604,
 353.0: 602,
 300.0: 600,
 387.0: 596,
 295.0: 594,
 301.0: 593,
 275.0: 590,
 501.0: 587,
 481.0: 586,
 296.0: 578,
 299.0: 575,
 672.0: 575,
 341.0: 575,
 298.0: 574,
 552.0: 569,
 453.0: 566,
 325.0: 563,
 428.0: 562,
 297.0: 553,
 403.0: 553,
 318.0: 552,
 319.0: 552,
 575.0: 549,
 364.0: 548,
 576.0: 545,
 411.0: 542,
 321.0: 539,
 342.0: 539,
 352.0: 537,
 599.0: 537,
 320.0: 536,
 477.0: 534,
 452.0: 530,
 378.0: 526,
 351.0: 524,
 458.0: 524,
 526.0: 515,
 476.0: 510,
 324.0: 506,
 600.0: 504,
 623.0: 503,
 529.0: 501,
 427.0: 499,
 322.0: 498,
 323.0: 497,
 376.0: 492,
 343.0: 491,
 402.0: 491,
 388.0: 489,
 377.0: 486,
 451.0: 485,
 550.0: 484,
 500.0: 484,
 482.0: 483,
 648.0: 482,
 624.0: 480,
 506.0: 480,
 435.0: 478,
 365.0: 478,
 374.0: 475,
 349.0: 472,
 426.0: 469,
 375.0: 466,
 647.0: 466,
 345.0: 464,
 350.0: 464,
 412.0: 458,
 574.0: 455,
 401.0: 449,
 347.0: 446,
 344.0: 445,
 366.0: 443,
 389.0: 443,
 483.0: 443,
 525.0: 441,
 695.0: 438,
 549.0: 432,
 577.0: 432,
 413.0: 431,
 696.0: 430,
 459.0: 430,
 670.0: 427,
 598.0: 426,
 553.0: 423,
 400.0: 423,
 399.0: 421,
 449.0: 421,
 348.0: 418,
 475.0: 413,
 554.0: 413,
 424.0: 409,
 346.0: 408,
 839.0: 406,
 450.0: 406,
 474.0: 405,
 507.0: 404,
 373.0: 403,
 523.0: 401,
 498.0: 399,
 508.0: 399,
 719.0: 397,
 460.0: 396,
 524.0: 395,
 436.0: 394,
 371.0: 392,
 367.0: 392,
 530.0: 391,
 368.0: 390,
 390.0: 389,
 398.0: 389,
 499.0: 389,
 372.0: 387,
 720.0: 387,
 622.0: 382,
 601.0: 382,
 673.0: 379,
 425.0: 378,
 649.0: 377,
 447.0: 371,
 625.0: 371,
 423.0: 370,
 393.0: 370,
 573.0: 369,
 461.0: 368,
 391.0: 367,
 392.0: 367,
 446.0: 366,
 646.0: 366,
 421.0: 365,
 744.0: 365,
 743.0: 364,
 548.0: 363,
 484.0: 362,
 472.0: 361,
 369.0: 360,
 394.0: 357,
 397.0: 357,
 437.0: 355,
 840.0: 354,
 596.0: 352,
 414.0: 352,
 621.0: 349,
 597.0: 349,
 767.0: 349,
 396.0: 349,
 497.0: 349,
 674.0: 343,
 416.0: 342,
 422.0: 339,
 438.0: 336,
 370.0: 336,
 694.0: 336,
 440337.0: 335,
 572.0: 334,
 578.0: 333,
 420.0: 331,
 395.0: 331,
 602.0: 330,
 445.0: 330,
 815.0: 328,
 417.0: 328,
 522.0: 328,
 496.0: 326,
 415.0: 326,
 448.0: 324,
 697.0: 323,
 494.0: 319,
 620.0: 319,
 547.0: 319,
 555.0: 318,
 473.0: 317,
 462.0: 317,
 768.0: 315,
 645.0: 315,
 485.0: 314,
 603.0: 314,
 418.0: 314,
 444.0: 314,
 669.0: 312,
 439.0: 311,
 791.0: 311,
 465.0: 310,
 486.0: 310,
 493.0: 306,
 650.0: 304,
 471.0: 302,
 440385.0: 302,
 532.0: 302,
 556.0: 301,
 521.0: 301,
 864.0: 301,
 627.0: 301,
 469.0: 300,
 863.0: 300,
 644.0: 298,
 816.0: 298,
 626.0: 297,
 470.0: 296,
 463.0: 296,
 440.0: 294,
 571.0: 294,
 466.0: 293,
 721.0: 293,
 441.0: 292,
 419.0: 287,
 533.0: 287,
 440386.0: 286,
 442.0: 286,
 509.0: 286,
 668.0: 284,
 495.0: 284,
 531.0: 283,
 443.0: 282,
 546.0: 282,
 580.0: 280,
 718.0: 279,
 594.0: 279,
 792.0: 279,
 693.0: 276,
 440338.0: 275,
 468.0: 274,
 579.0: 274,
 489.0: 271,
 487.0: 271,
 464.0: 269,
 911.0: 267,
 520.0: 266,
 519.0: 266,
 595.0: 264,
 741.0: 263,
 545.0: 263,
 492.0: 262,
 742.0: 261,
 651.0: 258,
 745.0: 258,
 769.0: 258,
 717.0: 257,
 518.0: 257,
 581.0: 255,
 766.0: 255,
 491.0: 255,
 517.0: 254,
 628.0: 253,
 619.0: 253,
 643.0: 252,
 510.0: 252,
 716.0: 251,
 543.0: 251,
 1007.0: 251,
 675.0: 250,
 790.0: 249,
 542.0: 248,
 814.0: 248,
 544.0: 248,
 513.0: 248,
 692.0: 247,
 511.0: 247,
 514.0: 247,
 698.0: 247,
 1008.0: 246,
 642.0: 245,
 838.0: 245,
 789.0: 245,
 793.0: 244,
 516.0: 242,
 667.0: 242,
 488.0: 242,
 557.0: 242,
 604.0: 242,
 618.0: 239,
 568.0: 239,
 887.0: 238,
 699.0: 237,
 567.0: 237,
 512.0: 237,
 841.0: 237,
 467.0: 236,
 641.0: 234,
 534.0: 233,
 722.0: 233,
 570.0: 233,
 912.0: 232,
 765.0: 230,
 440336.0: 230,
 440339.0: 230,
 770.0: 228,
 666.0: 228,
 569.0: 227,
 817.0: 226,
 984.0: 223,
 591.0: 223,
 440346.0: 223,
 490.0: 222,
 541.0: 221,
 440340.0: 221,
 935.0: 221,
 959.0: 219,
 888.0: 219,
 605.0: 219,
 440345.0: 219,
 862.0: 219,
 665.0: 218,
 723.0: 217,
 615.0: 217,
 593.0: 216,
 652.0: 216,
 559.0: 213,
 813.0: 211,
 740.0: 211,
 566.0: 210,
 440347.0: 210,
 535.0: 210,
 440384.0: 210,
 691.0: 210,
 592.0: 209,
 865.0: 209,
 714.0: 209,
 812.0: 208,
 936.0: 208,
 616.0: 208,
 614.0: 207,
 539.0: 207,
 590.0: 206,
 582.0: 206,
 818.0: 204,
 739.0: 204,
 960.0: 203,
 536.0: 202,
 746.0: 201,
 676.0: 199,
 583.0: 199,
 515.0: 199,
 837.0: 199,
 1032.0: 198,
 1006.0: 198,
 440387.0: 198,
 565.0: 197,
 690.0: 196,
 629.0: 196,
 794.0: 196,
 630.0: 195,
 700.0: 195,
 836.0: 195,
 747.0: 195,
 689.0: 194,
 861.0: 194,
 889.0: 194,
 558.0: 193,
 764.0: 193,
 788.0: 193,
 538.0: 192,
 560.0: 191,
 983.0: 190,
 664.0: 189,
 663.0: 189,
 588.0: 189,
 617.0: 188,
 910.0: 188,
 639.0: 188,
 842.0: 188,
 561.0: 187,
 662.0: 187,
 653.0: 187,
 886.0: 187,
 885.0: 186,
 640.0: 185,
 1175.0: 185,
 609.0: 184,
 440341.0: 184,
 537.0: 184,
 587.0: 183,
 890.0: 183,
 1031.0: 182,
 913.0: 182,
 933.0: 181,
 677.0: 181,
 914.0: 181,
 771.0: 181,
 715.0: 179,
 934.0: 179,
 584.0: 179,
 678.0: 178,
 1080.0: 178,
 562.0: 178,
 611.0: 178,
 589.0: 178,
 440344.0: 177,
 1103.0: 176,
 1056.0: 176,
 835.0: 175,
 762.0: 175,
 982.0: 175,
 958.0: 175,
 540.0: 175,
 961.0: 175,
 654.0: 175,
 636.0: 174,
 687.0: 173,
 1176.0: 173,
 564.0: 173,
 631.0: 173,
 661.0: 172,
 440348.0: 172,
 1079.0: 172,
 613.0: 171,
 763.0: 171,
 724.0: 171,
 786.0: 171,
 612.0: 170,
 638.0: 170,
 1009.0: 170,
 1128.0: 169,
 607.0: 169,
 1005.0: 168,
 585.0: 168,
 819.0: 168,
 884.0: 168,
 659.0: 168,
 1055.0: 167,
 608.0: 167,
 749.0: 167,
 866.0: 167,
 795.0: 166,
 909.0: 166,
 787.0: 165,
 563.0: 164,
 1030.0: 164,
 440394.0: 164,
 634.0: 164,
 713.0: 163,
 860.0: 162,
 937.0: 162,
 701.0: 162,
 606.0: 159,
 688.0: 159,
 737.0: 157,
 586.0: 157,
 843.0: 157,
 633.0: 157,
 750.0: 156,
 637.0: 156,
 986.0: 156,
 680.0: 156,
 985.0: 156,
 440342.0: 156,
 1104.0: 155,
 844.0: 155,
 635.0: 155,
 440393.0: 154,
 1054.0: 154,
 981.0: 154,
 1127.0: 153,
 712.0: 153,
 711.0: 153,
 1177.0: 153,
 1033.0: 153,
 748.0: 152,
 796.0: 151,
 440395.0: 151,
 686.0: 151,
 1004.0: 150,
 1078.0: 150,
 440409.0: 150,
 702.0: 150,
 738.0: 149,
 656.0: 149,
 657.0: 149,
 1152.0: 148,
 679.0: 148,
 1344.0: 148,
 1174.0: 147,
 1199.0: 147,
 810.0: 147,
 915.0: 147,
 707.0: 147,
 1343.0: 147,
 440343.0: 147,
 735.0: 146,
 785.0: 146,
 632.0: 146,
 832.0: 145,
 938.0: 144,
 681.0: 144,
 655.0: 144,
 682.0: 144,
 736.0: 144,
 704.0: 143,
 957.0: 142,
 683.0: 142,
 908.0: 142,
 1150.0: 142,
 1200.0: 142,
 1010.0: 142,
 811.0: 141,
 867.0: 141,
 660.0: 141,
 1034.0: 140,
 1105.0: 139,
 845.0: 139,
 1151.0: 139,
 758.0: 139,
 684.0: 139,
 772.0: 138,
 1057.0: 138,
 1224.0: 138,
 759.0: 138,
 962.0: 138,
 773.0: 138,
 725.0: 137,
 760.0: 137,
 761.0: 137,
 710.0: 137,
 440410.0: 136,
 892.0: 136,
 868.0: 136,
 821.0: 136,
 610.0: 136,
 939.0: 136,
 800.0: 135,
 891.0: 135,
 1081.0: 135,
 1029.0: 135,
 733.0: 134,
 685.0: 134,
 757.0: 133,
 1102.0: 133,
 1077.0: 133,
 807.0: 133,
 709.0: 133,
 809.0: 133,
 1058.0: 132,
 980.0: 132,
 440419.0: 132,
 955.0: 132,
 1126.0: 131,
 784.0: 131,
 440349.0: 131,
 833.0: 131,
 734.0: 131,
 883.0: 131,
 808.0: 131,
 658.0: 130,
 834.0: 130,
 706.0: 130,
 932.0: 130,
 703.0: 130,
 854.0: 130,
 906.0: 130,
 729.0: 129,
 907.0: 129,
 797.0: 128,
 1011.0: 128,
 1247.0: 128,
 781.0: 128,
 806.0: 128,
 730.0: 127,
 1271.0: 127,
 727.0: 127,
 823.0: 126,
 440388.0: 126,
 440418.0: 125,
 859.0: 125,
 705.0: 125,
 440491.0: 124,
 846.0: 124,
 1129.0: 123,
 726.0: 123,
 440434.0: 123,
 1319.0: 123,
 954.0: 122,
 820.0: 122,
 1320.0: 122,
 1391.0: 121,
 1153.0: 121,
 731.0: 120,
 440443.0: 120,
 857.0: 120,
 774.0: 119,
 728.0: 119,
 1053.0: 119,
 880.0: 118,
 1223.0: 118,
 1125.0: 118,
 440335.0: 118,
 440389.0: 118,
 1083.0: 117,
 1511.0: 117,
 754.0: 117,
 751.0: 117,
 931.0: 116,
 881.0: 116,
 904.0: 116,
 752.0: 116,
 708.0: 116,
 440411.0: 116,
 777.0: 116,
 956.0: 116,
 1295.0: 116,
 440467.0: 115,
 776.0: 115,
 831.0: 115,
 963.0: 114,
 1249.0: 114,
 1100.0: 114,
 1272.0: 114,
 830.0: 114,
 1368.0: 113,
 1028.0: 113,
 916.0: 113,
 798.0: 113,
 1130.0: 113,
 440433.0: 113,
 783.0: 112,
 1250.0: 112,
 869.0: 112,
 1248.0: 112,
 1246.0: 112,
 732.0: 112,
 1201.0: 112,
 1027.0: 111,
 847.0: 111,
 1124.0: 111,
 1082.0: 111,
 440442.0: 111,
 829.0: 111,
 929.0: 110,
 882.0: 109,
 989.0: 109,
 930.0: 109,
 978.0: 109,
 ...}

In [11]:
df = df[~((df.duplicated(subset=['number','pick_lat','pick_lng'],keep=False))&(df.booking_time_diff_hr<=1))]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4335828 entries, 0 to 8315381
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   index                  int64
 1   ts                     datetime64[ns]
 2   number                 float64
 3   pick_lat               float64
 4   pick_lng               float64
 5   drop_lat               float64
 6   drop_lng               float64
 7   mins                   int64
 8   hour                   int64
 9   day                    int64
 10  month                  int64
 11  year                   int64
 12  dayofweek              int64
 13  booking_stamp          int64
 14  shift_booking_ts       float64
 15  booking_time_diff_hr   float64
 16  booking_time_diff_min  float64
dtypes: datetime64[ns](1), float64(8), int64(8)
memory usage: 595.4 MB

## 定义2：如果用户在8min之内产生了多次叫车请求，那么我们只保留1次叫车请求（这里的经纬度可能相同，也可能不同）。

In [13]:
df = df[(df.booking_time_diff_min>=8)]

## 定义3：如果用户上车和下车地点的距离小于50M，或者是行程大于500KM，那么我们直接删除这条数据。

In [16]:
%%time
def geodesic_distance(pick_lat,pick_lng,drop_lat,drop_lng):
    return round(geodesic((pick_lat,pick_lng),(drop_lat,drop_lng)).km,2)
df['geodesic_distance'] = np.vectorize(geodesic_distance)(df['pick_lat'],df['pick_lng'],df['drop_lat'],df['drop_lng'])

Wall time: 9min 22s

In [17]:
print("上车与下车点之间的距离小于50M的数据条数是:{}".format(len(df[df.geodesic_distance<=0.05])))

上车与下车点之间的距离小于50M的数据条数是:14460

In [18]:
df = df[df.geodesic_distance>0.05]

## 定义4：如果用户的上下车地点在我们的研究区域之外，我们选择删除数据。

所在地区的经纬度坐标  
印度:  ['6.2325274', '35.6745457', '68.1113787', '97.395561']  
卡纳塔克邦（Karnataka）: : ['11.5945587', '18.4767308', '74.0543908', '78.588083']  
班加罗尔: ['12.8340125', '13.1436649', '77.4601025', '77.7840515']

In [19]:
geolocator = Nominatim(user_agent="TAXI")

In [20]:
location = geolocator.geocode("India")
location.raw

{'place_id': 307832711,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 304716,
 'boundingbox': ['6.5531169', '35.6745457', '67.9544415', '97.395561'],
 'lat': '22.3511148',
 'lon': '78.6677428',
 'display_name': 'India',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.957689135880987,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png'}

In [21]:
boundingbox = ['6.5531169', '35.6745457', '67.9544415', '97.395561']
min_lat = float(boundingbox[0])
max_lat = float(boundingbox[1])
min_lng = float(boundingbox[2])
max_lng = float(boundingbox[3])
#这段代码的顺序是最小纬度，最大纬度，最小经度，最大经度

In [22]:
df[(df.pick_lat<=min_lat)|(df.pick_lat>=max_lat)|(df.pick_lng<=min_lng)|(df.pick_lng>=max_lng)|(df.drop_lat<=min_lat)|(df.drop_lat>=max_lat)|(df.drop_lng<=min_lng)|(df.drop_lng>=max_lng)]

,index,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,mins,hour,day,month,year,dayofweek,booking_stamp,shift_booking_ts,booking_time_diff_hr,booking_time_diff_min,geodesic_distance
9000,742031,2020-06-22 07:19:06,80.0,12.926255,77.616400,0.000000e+00,0.000000e+00,19,7,22,6,2020,0,1592810346,1.590934e+09,521.0,31271.0,8674.59
28700,2502259,2020-10-16 21:52:28,297.0,12.958342,77.517876,3.890229e+00,-3.344596e+01,52,21,16,10,2020,4,1602885148,1.602885e+09,0.0,8.0,12181.82
31484,4344697,2021-01-07 13:17:11,345.0,12.824208,77.684840,5.347187e+01,-1.021332e+02,17,13,7,1,2021,3,1610025431,1.609843e+09,50.0,3039.0,12658.51
44030,8297478,2021-03-26 20:16:01,485.0,12.932975,77.536230,2.819774e+01,1.129942e+02,16,20,26,3,2021,4,1616789761,1.616698e+09,25.0,1530.0,4043.96
56899,1786595,2020-09-09 09:36:43,641.0,12.896367,77.623800,0.000000e+00,0.000000e+00,36,9,9,9,2020,2,1599644203,0.000000e+00,444345.0,26660736.0,8675.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8216880,1985134,2020-09-21 14:40:51,98929.0,12.852040,77.675490,1.400000e-45,1.400000e-45,40,14,21,9,2020,0,1600699251,1.600356e+09,95.0,5724.0,8680.60
8230065,834555,2020-07-02 08:40:16,99078.0,12.924925,77.606125,3.772864e+01,-8.920558e+01,40,8,2,7,2020,3,1593679216,1.591804e+09,520.0,31249.0,14231.86
8232720,2331458,2020-10-06 18:12:35,99104.0,12.928082,77.603350,1.376042e+01,1.004980e+02,12,18,6,10,2020,1,1602007955,1.601834e+09,48.0,2895.0,2481.05
8253517,2747830,2020-11-02 18:57:02,99379.0,12.984081,77.593330,0.000000e+00,0.000000e+00,57,18,2,11,2020,0,1604343422,1.604310e+09,9.0,561.0,8672.39
8297045,5191270,2021-02-01 18:32:03,99852.0,12.966105,77.598270,0.000000e+00,0.000000e+00,32,18,1,2,2021,0,1612204323,1.612204e+09,0.0,10.0,8672.83

In [23]:
df.reset_index(inplace=True,drop=True)
outside_India = df[(df.pick_lat<=min_lat)|(df.pick_lat>=max_lat)|(df.pick_lng<=min_lng)|(df.pick_lng>=max_lng)|(df.drop_lat<=min_lat)|(df.drop_lat>=max_lat)|(df.drop_lng<=min_lng)|(df.drop_lng>=max_lng)]
df = df[~df.index.isin(outside_India.index)].reset_index(drop=True)

In [24]:
df

,index,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,mins,hour,day,month,year,dayofweek,booking_stamp,shift_booking_ts,booking_time_diff_hr,booking_time_diff_min,geodesic_distance
0,2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,34,7,10,10,2020,5,1602315256,0.000000e+00,445087.0,26705254.0,17.38
1,2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,23,8,11,10,2020,6,1602404622,1.602315e+09,24.0,1489.0,4.06
2,2406076,2020-10-11 11:57:17,-1.0,12.960213,77.587460,12.930824,77.609610,57,11,11,10,2020,6,1602417437,1.602405e+09,3.0,213.0,4.04
3,2500477,2020-10-16 17:51:07,-1.0,12.924353,77.549410,12.932216,77.581825,51,17,16,10,2020,4,1602870667,1.602417e+09,125.0,7553.0,3.62
4,2694503,2020-10-30 09:00:44,-1.0,12.945731,77.622500,12.973030,77.616840,0,9,30,10,2020,4,1604048444,1.602871e+09,327.0,19629.0,3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3708830,5768115,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,37,19,12,2,2021,4,1613158631,1.613069e+09,24.0,1498.0,3.77
3708831,6102760,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,43,20,19,2,2021,4,1613767405,1.613159e+09,169.0,10146.0,11.82
3708832,6137206,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,34,17,20,2,2021,5,1613842485,1.613767e+09,20.0,1251.0,2.16
3708833,6555089,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,26,8,27,2,2021,5,1614414383,1.613842e+09,158.0,9531.0,4.56
3708834,6888302,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,13,19,4,3,2021,3,1614885193,1.614414e+09,130.0,7846.0,8.60

In [25]:
# 班加罗尔
location = geolocator.geocode("bangalore")
location.raw

{'place_id': 308746144,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 7902476,
 'boundingbox': ['12.8340125', '13.1436649', '77.4601025', '77.7840515'],
 'lat': '12.9767936',
 'lon': '77.590082',
 'display_name': 'Bengaluru, Bangalore North, Bangalore Urban, Karnataka, India',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.7094348238975636,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png'}

In [26]:
boundingbox = ['12.8340125', '13.1436649', '77.4601025', '77.7840515']
min_lat = float(boundingbox[0])
max_lat = float(boundingbox[1])
min_lng = float(boundingbox[2])
max_lng = float(boundingbox[3])
#这段代码的顺序是最小纬度，最大纬度，最小经度，最大经度

In [27]:
## 有多少需求在班加罗尔上车或者下车，同时有多少乘客呢？
pck_outside_bng  = df[(df.pick_lat<=min_lat)|(df.pick_lat>=max_lat)|(df.pick_lng<=min_lng)|(df.pick_lng>=max_lng)]
drp_outside_bng  = df[(df.drop_lat<=min_lat)|(df.drop_lat>=max_lat)|(df.drop_lng<=min_lng)|(df.drop_lng>=max_lng)]

print("班加罗尔外的上车需求有{}条".format(len(pck_outside_bng)))
print("有多少乘客在班加罗尔外上车呢？{}".format(len(pck_outside_bng.number.unique())))


print("班加罗尔外的下车需求有{}条".format(len(drp_outside_bng)))
print("有多少乘客在班加罗尔外下车呢？{}".format(len(drp_outside_bng.number.unique())))

班加罗尔外的上车需求有155908条
有多少乘客在班加罗尔外上车呢？20473
班加罗尔外的下车需求有167338条
有多少乘客在班加罗尔外下车呢？26878

In [28]:
## 筛选出卡纳塔克邦之内的请求
location = geolocator.geocode("Karnataka")
location.raw

{'place_id': 307969544,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 2019939,
 'boundingbox': ['11.5945587', '18.4766494', '74.0543908', '78.588083'],
 'lat': '14.5203896',
 'lon': '75.7223521',
 'display_name': 'Karnataka, India',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.7868060707014523,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png'}

In [29]:
boundingbox = ['11.5945587', '18.4766494', '74.0543908', '78.588083']
min_lat = float(boundingbox[0])
max_lat = float(boundingbox[1])
min_lng = float(boundingbox[2])
max_lng = float(boundingbox[3])
#这段代码的顺序是最小纬度，最大纬度，最小经度，最大经度

In [30]:
## 有多少需求在班加罗尔上车或者下车，同时有多少乘客呢？
pck_outside_KA  = df[(df.pick_lat<=min_lat)|(df.pick_lat>=max_lat)|(df.pick_lng<=min_lng)|(df.pick_lng>=max_lng)]
drp_outside_KA  = df[(df.drop_lat<=min_lat)|(df.drop_lat>=max_lat)|(df.drop_lng<=min_lng)|(df.drop_lng>=max_lng)]

print("班加罗尔外的上车需求有{}条".format(len(pck_outside_KA)))
print("有多少乘客在班加罗尔外上车呢？{}".format(len(pck_outside_KA.number.unique())))


print("班加罗尔外的下车需求有{}条".format(len(drp_outside_KA)))
print("有多少乘客在班加罗尔外下车呢？{}".format(len(drp_outside_KA.number.unique())))

班加罗尔外的上车需求有38807条
有多少乘客在班加罗尔外上车呢？6302
班加罗尔外的下车需求有39585条
有多少乘客在班加罗尔外下车呢？6917

In [31]:
# 总共有多少数据在卡纳塔克邦之外上车或者下车？

total_ride_outside_KA = df[(df.pick_lat<=min_lat)|(df.pick_lat>=max_lat)|(df.pick_lng<=min_lng)|(df.pick_lng>=max_lng)|(df.drop_lat<=min_lat)|(df.drop_lat>=max_lat)|(df.drop_lng<=min_lng)|(df.drop_lng>=max_lng)]
print("卡纳塔克邦之外的数据总量是: {}".format(len(total_ride_outside_KA)))

卡纳塔克邦之外的数据总量是: 39632

In [33]:
suspected_bad_rides = total_ride_outside_KA[total_ride_outside_KA.geodesic_distance>500]
suspected_bad_rides

,index,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,mins,hour,day,month,year,dayofweek,booking_stamp,shift_booking_ts,booking_time_diff_hr,booking_time_diff_min,geodesic_distance
105,4765341,2021-01-21 23:18:35,0.0,12.958837,77.644485,21.149794,82.782000,18,23,21,1,2021,3,1611271115,1.611220e+09,14.0,852.0,1058.39
7368,1756248,2020-09-08 14:49:08,154.0,12.922410,77.568270,25.549080,84.655800,49,14,8,9,2020,1,1599576548,1.599497e+09,22.0,1327.0,1583.00
38148,586293,2020-06-04 18:13:54,878.0,12.970724,77.582420,21.504763,80.115160,13,18,4,6,2020,3,1591294434,1.591267e+09,7.0,459.0,982.06
40544,122197,2020-04-07 11:09:24,913.0,13.004375,77.555210,19.075983,72.877655,9,11,7,4,2020,1,1586257764,1.586103e+09,43.0,2585.0,837.67
40560,288777,2020-04-29 23:11:41,913.0,13.013597,77.545740,22.837053,69.724560,11,23,29,4,2020,2,1588201901,1.588160e+09,11.0,698.0,1366.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681746,770076,2020-06-25 11:32:12,99395.0,13.037086,77.515854,28.979435,77.689580,32,11,25,6,2020,3,1593084732,1.593016e+09,18.0,1137.0,1765.27
3681747,1086664,2020-07-29 15:29:45,99395.0,12.975827,77.605644,28.979435,77.689580,29,15,29,7,2020,2,1596036585,1.593085e+09,819.0,49196.0,1771.97
3685647,4377242,2021-01-09 14:10:14,99499.0,12.959066,77.656815,28.479555,77.079950,10,14,9,1,2021,5,1610201414,1.610187e+09,3.0,238.0,1719.45
3685648,4377307,2021-01-09 14:57:02,99499.0,12.959036,77.656770,28.479555,77.079950,57,14,9,1,2021,5,1610204222,1.610201e+09,0.0,46.0,1719.45
3699364,723201,2020-06-20 15:09:58,99817.0,12.973216,77.717860,27.299267,75.956764,9,15,20,6,2020,5,1592665798,1.589621e+09,845.0,50741.0,1596.62

In [34]:
df = df[~df.index.isin(suspected_bad_rides.index)].reset_index(drop=True)
print("符合良好请求的数据量是: {}".format(len(df)))

符合良好请求的数据量是: 3708329

In [36]:
dataset = df[['ts', 'number', 'pick_lat','pick_lng','drop_lat','drop_lng','geodesic_distance','hour','mins','day','month','year','dayofweek','booking_stamp','booking_time_diff_hr', 'booking_time_diff_min']]

## 4.导出我们清好的数据

In [37]:
dataset.to_csv("../data/clean_data.csv",index=False,compression='gzip')

: